<%= content_for :title, t("shared.scaffold.edit.title", model: "Ingredient") %>

<div class="container mx-auto px-4 my-8">
  <div class="flex items-center justify-between mb-4">
    <h1 class="h3">
      <%= link_to "Ingredients", meal_ingredients_path(@meal), class: "text-black" %>
      <span class="text-gray-400 font-light mx-2">\</span>
      <%= t("shared.scaffold.edit.title", model: "Ingredient") %>
    </h1>
    <%= button_to t("delete"), [@meal, @ingredient], method: :delete, class: "btn btn-white", form: { data: { turbo_confirm: t("are_you_sure") } } %>
  </div>

  <div class="p-8 bg-white rounded shadow">
    <%= render "form", ingredient: @ingredient, meal: @meal %>
  </div>
</div>
